.tg_cly1 {
  position: relative;
  height: 40px;
}

.line {
  position: absolute;
  left: 0;
  top: 0;
  float: left;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #ffffff0c 0px , #f760eac2 40px, #ffffff0c 80px );
  background-size: 600px;
  animation: shine-line 1s infinite ease-in-out;
}

@keyframes shine-line {
  0% {
    background-position: -100px;
  }
  100% {
    background-position: 140px;
  }
}